/* Width adjustment (Mobile, Desktop) */

@media (max-width: 1430px){

    main .title-text h1{
        font-size: 92px;
    }

}

@media (max-width: 1360px){

    main .title-text h1{
        font-size: 80px;
    }

    main .title-text .content-text h2{
        font-size: 26px;
    }

    header nav{
        margin-right: 260px;
    }

    main .side{
        right: 110px;
    }

    main #dog-image{
        right: 40px;
    }

    #adopt-me .dog-card .side-b{
        right: 110px;
    }

    #adopt-me .dog-card .adopted-dog-card{
        right: 110px;
    }

}

@media (max-width: 1275px){

    header nav{
        margin-right: 300px;
    }

    main .title-text h1{
        font-size: 70px;
    }

    main .title-text .content-text{
        max-width: 550px;
    }

    main .title-text .content-text h2{
        font-size: 22px;
    }

    main .title-text .buttons {
        margin-top: 60px;
    }

}

@media (max-width: 1170px){

    header nav{
        margin-right: 0;
    }

    main .title-text{
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 220px 40px 0px 40px;
    }

    main .side{
        display: none;
    }

    main #dog-image{
        display: none;
    }

    #adopt-me{
        padding: 100px 40px 70px 40px;
    }

    #adopt-me .dog-card{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #adopt-me .dog-card .side-b{
        display: none;
    }

    #adopt-me .dog-card .adopted-dog-card{
        position: initial;
    }

}

@media (max-width: 960px){

    .primary-button{
        margin: 10px 10px 10px 10px;
    }

    #adopt-me{
        flex-flow: column;
    }

    #adopt-me .form{
        width: 100%;
    }

    #adopt-me .form .input-content{
        width: 80%;
        margin: 0 auto;
    }

    #adopt-me .dog-card{
        margin-top: 40px;
        width: 100%;
    }

}

@media (max-width: 900px){

    header nav{
        display: none;
    }

    #facebook-icon{
        display: none;
    }

    #nav-icon{
        display: block;
    }

}

@media (max-width: 640px){

    header{
        padding: 20px;
    }

    main .title-text{
        padding: 220px 20px 0px 20px;
    }

    #adopt-me{
        padding: 220px 20px 40px 20px;
    }

    #adopt-me .form .input-content{
        width: 100%;
    }

}

@media (max-width: 440px){

    header{
        padding: 15px;
    }

    main .title-text{
        padding: 250px 10px 0px 10px;
    }

    .primary-button,
    .secondary-button{
        width: 120px;
        padding: 14px;
        font-size: 14px!important;
    }

    main .title-text h1{
        font-size: 48px;
    }

    main .title-text .content-text h2{
        font-size: 18px;
    }

    #adopt-me{
        padding: 120px 5px 40px 5px;
    }

    #adopt-me .dog-card .adopted-dog-card{
        width: 280px;
        height: 390px;
    }

    #adopt-me .dog-card .adopted-dog-card .adopted-dog-image{
        height: auto;
    }

    #adopt-me .dog-card .adopted-dog-card{
        height: 370px;
    }

    #adopt-me .dog-card .adopted-dog-card .adopted-dog-content{
        margin-top: 0;
    }

    #save-card-button{
        top: -50px;
    }
}

@media (max-width: 440px){

    main .title-text{
        padding: 40px 40px 0px 40px;
    }

    footer ul li{
        margin: 10px;
    }
}

/* Height Ajustment (Ipads, Horizontal Mobiles)*/

@media (max-height: 880px){

    main .title-text{
        padding: 160px 40px 0px 40px;
    }

    main #dog-image{
        width: 350px;
        right: 160px;
    }

}

@media (max-height: 700px){

    main .title-text{
        padding: 100px 40px 0px 40px;
    }

    main #dog-image{
        width: 300px;
        right: 195px;
        top: 50px;
    }

}

@media (max-height: 600px){

    main{
        height: 600px;
    }

    main .title-text .buttons{
        margin-top: 30px;
    }

    footer{
        height: 250px;
    }

}

@media (max-height: 460px){

    main .title-text{
        padding: 40px 40px 0px 40px;
    }

}