@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap");
.main-wrapper {
  position: relative;
}

header {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 40px;
  background-color: #68D7E2;
}

header nav {
  margin-right: 200px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  margin-right: 60px;
}

header nav ul li a {
  font-size: 18px;
  color: #FCFCFC;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

header nav ul li a:hover {
  color: #F2BE54;
}

header nav.open {
  display: block;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: #F2BE54;
}

header nav.open ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

header nav.open ul li {
  margin: 25px 0px;
}

header #facebook-icon {
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

header #facebook-icon img {
  width: 35px;
}

header #facebook-icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main {
  width: 100%;
  height: 90vh;
  background-color: #68D7E2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .title-text {
  width: 70%;
  padding: 170px 90px 0px 90px;
  color: #FCFCFC;
}

main .title-text span {
  color: #F2BE54;
}

main .title-text h1 {
  font-size: 100px;
  font-weight: 600;
}

main .title-text .content-text {
  max-width: 700px;
}

main .title-text .content-text h2 {
  margin-top: 20px;
  font-size: 40px;
}

main .title-text .buttons {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .side {
  overflow: visible;
  max-width: 600px;
  width: 380px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F2BE54;
  position: absolute;
  top: 0;
  right: 160px;
}

main .side #icon-logo {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

main #dog-image {
  width: 500px;
  position: absolute;
  top: 120px;
  right: 85px;
}

#adopt-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #68D7E2;
  padding: 100px 90px 70px 90px;
}

#adopt-me .form {
  width: 50%;
  text-align: center;
}

#adopt-me .form h3 {
  color: #FCFCFC;
  font-size: 36px;
  margin-bottom: 60px;
}

#adopt-me .form .input-content {
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#adopt-me .form .input-content label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #FCFCFC;
}

#adopt-me .form .input-content #dog-name,
#adopt-me .form .input-content select {
  color: #2F2B2B;
  width: 100%;
  padding: 12px 8px;
  border: none;
  border-radius: 4px;
  margin: 15px 0px;
  outline-color: #F2BE54;
}

#adopt-me .form .input-content #dog-name::-webkit-input-placeholder {
  color: #b6b6b6;
}

#adopt-me .form .input-content #dog-name:-ms-input-placeholder {
  color: #b6b6b6;
}

#adopt-me .form .input-content #dog-name::-ms-input-placeholder {
  color: #b6b6b6;
}

#adopt-me .form .input-content #dog-name::placeholder {
  color: #b6b6b6;
}

#adopt-me .form .input-content input {
  border: none;
}

#adopt-me .form .input-content #adopt-submit {
  font-size: 16px;
  outline: none;
  margin-top: 50px;
  cursor: pointer;
}

#adopt-me .dog-card {
  width: 50%;
}

#adopt-me .dog-card .side-b {
  overflow: visible;
  max-width: 600px;
  width: 380px;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F2BE54;
  position: absolute;
  top: 0;
  right: 160px;
}

#adopt-me .dog-card .side-b h3 {
  color: #FCFCFC;
  font-size: 50px;
  font-weight: 600;
  margin-top: 60px;
}

#adopt-me .dog-card .adopted-dog-card {
  width: 380px;
  background-color: #F2BE54;
  height: 480px;
  position: absolute;
  top: 230px;
  right: 160px;
}

#adopt-me .dog-card .adopted-dog-card .adopted-dog-image {
  position: relative;
  width: 98%;
  height: 350px;
  margin: 0 auto;
  margin-top: 3px;
}

#adopt-me .dog-card .adopted-dog-card .adopted-dog-image img {
  width: 100%;
  height: 110%;
}

#adopt-me .dog-card .adopted-dog-card .adopted-dog-content {
  padding: 8px 12px;
  color: #FCFCFC;
}

#adopt-me .dog-card .adopted-dog-card .adopted-dog-content h3 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 8px;
}

footer {
  width: 100%;
  height: 25vh;
  background-color: #F2BE54;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

footer ul li {
  margin: 10px 24px;
}

footer ul li a {
  color: #FCFCFC;
}

.primary-button {
  width: 180px;
  padding: 20px;
  margin: 10px 40px 10px 10px;
  background-color: #F2BE54;
  border-radius: 6px;
  color: #FCFCFC;
  font-weight: 500;
  text-align: center;
  -webkit-box-shadow: 17px 20px 55px -8px rgba(80, 66, 37, 0.28);
          box-shadow: 17px 20px 55px -8px rgba(80, 66, 37, 0.28);
  -webkit-transition: 240ms ease-in-out;
  transition: 240ms ease-in-out;
}

.primary-button:hover {
  -webkit-box-shadow: 17px 25px 70px -6px rgba(80, 66, 37, 0.38);
          box-shadow: 17px 25px 70px -6px rgba(80, 66, 37, 0.38);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.secondary-button {
  width: 180px;
  padding: 20px;
  margin: 10px 0px 10px 10px;
  background-color: #FCFCFC;
  border-radius: 6px;
  color: #68D7E2;
  font-weight: 500;
  text-align: center;
  -webkit-box-shadow: 17px 20px 55px -8px rgba(58, 57, 54, 0.2);
          box-shadow: 17px 20px 55px -8px rgba(58, 57, 54, 0.2);
  -webkit-transition: 240ms ease-in-out;
  transition: 240ms ease-in-out;
}

.secondary-button:hover {
  -webkit-box-shadow: 17px 25px 70px -6px rgba(58, 57, 54, 0.31);
          box-shadow: 17px 25px 70px -6px rgba(58, 57, 54, 0.31);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

#nav-icon {
  position: absolute;
  right: 25px;
  display: none;
  width: 50px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 101;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #2F2B2B;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon.open {
  position: fixed;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 14px;
}

#nav-icon span:nth-child(3) {
  top: 28px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
/*# sourceMappingURL=main.css.map */