// Main Font
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

// Sub Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

// Palettes
$primary-color: #68D7E2;
$secondary-color: #F2BE54;
$white: #FCFCFC;
$black: #2F2B2B;


// Main Layout
.main-wrapper{
    position: relative;
}

header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: $primary-color;

    nav{
        margin-right: 200px;

        ul{
            display: flex;

            li{
                margin-right: 60px;
                
                a{
                    font-size: 18px;
                    color: $white;
                    transition: 200ms ease;

                    &:hover{
                        color: $secondary-color;
                    }
                }
            }
        }
    }

    nav.open{
        display: block;
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        margin: 0;
        background-color: $secondary-color;

        ul{
            flex-flow: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            li{
                margin: 25px 0px;
            }
        }
    }

    #facebook-icon{
        transition: 250ms ease-in-out;

        img{
            width: 35px;
        }

        &:hover{
            transform: scale(1.1);
        }
    }
}

main{
    width: 100%;
    height: 90vh;
    background-color: $primary-color;
    box-sizing: border-box;

    .title-text{
        width: 70%;
        padding: 170px 90px 0px 90px;
        color: $white;

        span{
            color: $secondary-color;
        }

        h1{
            font-size: 100px;
            font-weight: 600;
        }

        .content-text{
            max-width: 700px;

            h2{
                margin-top: 20px;
                font-size: 40px;
            }
        }

        .buttons{
            margin-top: 80px;
            display: flex;
        }
    }

    .side{
        overflow: visible;
        max-width: 600px;
        width: 380px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $secondary-color;
        position: absolute;
        top: 0;
        right: 160px;

        #icon-logo{
            position: absolute;
            bottom: 15px;
            right: 15px;
        }
    }

    #dog-image{
        width: 500px;
        position: absolute;
        top: 120px;
        right: 85px;
    }
}

#adopt-me{
    display: flex;
    position: relative;
    background-color: $primary-color;
    padding: 100px 90px 70px 90px;

    .form{
        width: 50%;
        text-align: center;

        .error{
            margin-bottom: 20px;
            color: #c03333;
            font-weight: 500;
            display: none;
        }

        h3{
            color: $white;
            font-size: 36px;
            margin-bottom: 60px;
        }

        .input-content{
            padding: 20px 40px;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;

            label{
                align-self: flex-start;
                color: $white;
            }

            #dog-name,
            select{
                color: $black;
                width: 100%;
                padding: 12px 8px;
                border: none;
                border-radius: 4px;
                margin: 15px 0px;
                outline-color: $secondary-color;
            }

            #dog-name::placeholder{
                color: #b6b6b6;
            }

            input{
                border: none;
            }

            #adopt-submit{
                font-size: 16px;
                outline: none;
                margin-top: 50px;
                cursor: pointer;
            }

        }

        #roboto{
            font-family: Roboto;
        }

        #lato{
            font-family: Lato;
        }

        #poppins{
            font-family: Poppins;
        }

        #montserrat{
         font-family: Montserrat;
        }

        #nunito{
            font-family: Nunito;
           }
    }

    .dog-card{
        width: 50%;

        .side-b{
            overflow: visible;
            max-width: 600px;
            width: 380px;
            height: 170px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $secondary-color;
            position: absolute;
            top: 0;
            right: 160px;

            h3{
                color: $white;
                font-size: 50px;
                font-weight: 600;
                margin-top: 60px;
            }
        }

        .adopted-dog-card{
            width: 380px;
            background-color: $secondary-color;
            height: 480px;
            position: absolute;
            top: 230px;
            right: 160px;

            .adopted-dog-image{
                position: relative;
                width: 98%;
                height: 350px;
                margin: 0 auto;
                margin-top: 3px;

                img{
                    width: 100%;
                    height: 110%;
                }
            }

            .adopted-dog-content{
                margin-top: 34px;
                padding: 8px 12px;
                color: $white;

                h3{
                    font-size: 22px;
                    font-weight: 500;
                    margin-bottom: 8px
                }
            }
        }
    }
}

footer{
    width: 100%;
    height: 25vh;
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    ul{
        display: flex;
        margin-top: 30px;

        li{
            margin: 10px 24px;

            a{
                color: $white;
            }
        }
    }
}

// Buttons
.primary-button{
    width: 180px;
    padding: 20px;
    margin: 10px 40px 10px 10px;
    background-color: $secondary-color;
    border-radius: 6px;
    color: $white;
    font-weight: 500;
    text-align: center;
    box-shadow: 17px 20px 55px -8px rgba(80, 66, 37, 0.28);
    transition: 240ms ease-in-out;

    &:hover{
        box-shadow: 17px 25px 70px -6px rgba(80, 66, 37, 0.38);
        transform: translateY(-5px);
    }
}

.secondary-button{
    width: 180px;
    padding: 20px;
    margin: 10px 0px 10px 10px;
    background-color: $white;
    border-radius: 6px;
    color: $primary-color;
    font-weight: 500;
    text-align: center;
    box-shadow: 17px 20px 55px -8px rgba(58, 57, 54, 0.20);
    transition: 240ms ease-in-out;

    &:hover{
        box-shadow: 17px 25px 70px -6px rgba(58, 57, 54, 0.31);
        transform: translateY(-5px);
    }
}

.adopted-button-style{
    background-color: $black;
}


// Menu Icon
#nav-icon{
    position: absolute;
    right: 25px;
    display: none;
    width: 50px;
    height: 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 101;
}

#nav-icon span{
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: $black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon.open{
    position: fixed;
}

#nav-icon span:nth-child(1){
    top: 0px;
}
  
#nav-icon span:nth-child(2){
    top: 14px;
}
  
#nav-icon span:nth-child(3){
    top: 28px;
}

#nav-icon.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
  
#nav-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}
  
#nav-icon.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}